In [1]:
import os
import pandas as pd
import datetime as dt
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
from api_credentials import client_id, client_secret, redirect_uri
import json

# Load playlists from JSON file
with open('playlists.json', 'r') as file:
    playlists_dict = json.load(file)


# Initialize the Spotify client with client credentials for public data access
client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

Read in the AU Daily 200 Spotify Chart  
Manually downloaded CSV from https://charts.spotify.com/charts/view/regional-au-daily/latest

In [2]:
# Load the CSV file
file_path = 'raw_data/regional-au-daily-2024-02-12.csv'
df = pd.read_csv(file_path)

# Extract the date from the file name
file_name = os.path.basename(file_path)  
date_str = file_name.split('-')[-3:]  # Splits the file name and takes the last 3 elements ['2024', '02', '05.csv']
date_str = '-'.join(date_str)  # Joins them back into '2024-02-05.csv'
date = date_str.split('.')[0]  # Removes the file extension, resulting in '2024-02-05'

# Convert the date string to a datetime object
date_datetime = pd.to_datetime(date)

# Format the datetime object to a string in 'DD-MM-YYYY' format
formatted_date = date_datetime.strftime('%d-%m-%Y')

# Add the formatted date as a new column to the DataFrame
df['date'] = formatted_date

Extract each tracks unique id for API call

In [3]:
track_ids = df['uri'].str[14:]
df['track_id'] = df['uri'].str[14:]
df.drop(columns='uri', inplace=True)

Call Spotify API to retrieve `popularity_score` for each of the top 200 tracks

In [4]:
# Convert the Series to a list for processing
track_ids_list = track_ids.tolist()

# Spotify's `tracks` endpoint can take multiple track IDs at once,
# but to avoid potential rate limits or payload size issues,
# it's a good idea to process them in batches.
# Here, we define a batch size (e.g., 50 tracks per request)
batch_size = 50

# Initialize lists to store the retrieved data
artists = []
track_names = []
popularity_scores = []

for i in range(0, len(track_ids_list), batch_size):
    batch = track_ids_list[i:i+batch_size]
    tracks_info = sp.tracks(batch)
    for track in tracks_info['tracks']:
        # Some tracks might not be available, leading to `None` entries
        if track:
            # Extracting the primary artist name
            artist_name = track['artists'][0]['name'] if track['artists'] else 'N/A'
            artists.append(artist_name)
            
            # Extracting the track name
            track_names.append(track['name'])
            
            # Extracting the popularity score
            popularity_scores.append(track['popularity'])

# Now that we have all the data, put it into a DataFrame
popularity_df = pd.DataFrame({
    'artist_name': artists,
    'track_name': track_names,
    'popularity_score': popularity_scores
})

# Show the DataFrame 
popularity_df.head()

    artist_name        track_name  popularity_score
0    Noah Kahan      Stick Season                98
1  Benson Boone  Beautiful Things                96
2   Jack Harlow       Lovin On Me                99
3  Taylor Swift      Cruel Summer                99
4    Kanye West          CARNIVAL                82

In [5]:
df['popularity_score'] = popularity_df['popularity_score']

In [6]:
# Reorder columns
df = df[['date', 'rank', 'artist_names', 'track_name', 'track_id', 'source', 'peak_rank', 'previous_rank', 'days_on_chart', 'streams', 'popularity_score']]

# Rename columns
df.rename(columns={
    'source': 'label',
    'streams': 'daily_streams',
}, inplace=True)

In [7]:
df.head()

,date,rank,artist_names,track_name,track_id,label,peak_rank,previous_rank,days_on_chart,daily_streams,popularity_score
0,12-02-2024,1,Noah Kahan,Stick Season,0mflMxspEfB0VbI1kyLiAv,Mercury Records/Republic Records,1,1,130,313497,98
1,12-02-2024,2,Benson Boone,Beautiful Things,6tNQ70jh4OwmPGpYy6R2o9,"Night Street Records, Inc./Warner Records Inc.",2,2,25,290303,96
2,12-02-2024,3,Jack Harlow,Lovin On Me,4xhsWYTOGcal8zt0J161CU,Generation Now/Atlantic,1,3,95,263515,99
3,12-02-2024,4,Taylor Swift,Cruel Summer,1BxfuPKGuaTgP7aM0Bbdwr,Taylor Swift,1,4,373,253007,99
4,12-02-2024,5,"Kanye West, Ty Dolla $ign",CARNIVAL,4m4BHvDfzIgj5LbQLuFiIp,YZY,5,5,2,228503,82

Retrieve additional data from Kworb.net
This will give us additional features/columns like:  
 - `count_at_peak`
 - `rank_movement`
 - `streams+`
 - `7day_streams`
 - `7day_streams_movement` 
 - `total_streams`

In [8]:
# Read the HTML table into a DataFrame
kworb_df = pd.read_html('https://kworb.net/spotify/country/au_daily.html')[0]

# Get the current date minus 2 days to account for data lag
current_date_minus_2 = dt.datetime.now().date() - dt.timedelta(days=2)

# Add the current date as a new column to the DataFrame
kworb_df['DATE'] = current_date_minus_2

In [9]:
kworb_df = kworb_df.rename(columns={
    'Pos' : 'rank',
    'P+': 'rank_change',
    'Artist and Title' : 'artist_title',
    'Days' : 'days_on_chart',
    'Pk' : 'peak_rank',
    '(x?)' : 'days_at_peak',
    'Streams' : 'daily_streams',
    'Streams+' : 'daily_streams_change',
    '7Day' : '7Day_streams',
    '7Day+' : '7Day_streams_change',
    'Total' : 'total_streams',
})

Need to change "=" to "0", remove "+", and handle "RE"

In [10]:
# Remove "+" and ensure "=" is replaced with "0"
kworb_df['rank_change'] = kworb_df['rank_change'].str.replace('+', '').str.replace('=', '0', regex=False)

# Attempt to convert the column to numeric without coercing errors to identify potential non-numeric values
try:
    kworb_df['rank_change'] = pd.to_numeric(kworb_df['rank_change'])
    print("Conversion successful. No NaN values detected.")
except ValueError as e:
    print("Conversion failed due to non-numeric values:", e)

# Optionally, inspect the column for any remaining non-numeric values or anomalies
# This step is just for verification and won't change the DataFrame
non_numeric = kworb_df[pd.to_numeric(kworb_df['rank_change'], errors='coerce').isna()]
if not non_numeric.empty:
    print("Non-numeric values found:\n", non_numeric)
else:
    print("No non-numeric values found.")

Conversion failed due to non-numeric values: Unable to parse string "NEW" at position 18
Non-numeric values found:
      rank rank_change                                       artist_title  \
18     19         NEW                           Beyoncé - TEXAS HOLD 'EM
134   135         NEW                    USHER - My Boo (w/ Alicia Keys)
139   140         NEW     USHER - DJ Got Us Fallin' In Love (w/ Pitbull)
180   181          RE                 Drake - Jimmy Cooks (w/ 21 Savage)
190   191          RE  Metro Boomin - Too Many Nights (w/ Future, Don...
191   192         NEW   Kanye West - All Falls Down (w/ Syleena Johnson)
195   196          RE  Tyler, The Creator - See You Again (w/ Kali Uc...
196   197          RE                                 Hozier - Work Song
197   198          RE            JAY-Z - Ni**as In Paris (w/ Kanye West)
199   200          RE  Timbaland - The Way I Are (w/ Keri Hilson, D.O...

     days_on_chart  peak_rank days_at_peak  daily_streams  \
18               1         19          NaN         132013
134              1        135          NaN          54083
139              1        140          NaN          53559
180            596          4          NaN          47719
190            303         32          NaN          46321
191              1        192          NaN          46184
195            323         12          NaN          45681
196             44         81          NaN          45542
197           1487         72          NaN          45484
199            401         65          NaN          45254

     daily_streams_change  7Day_streams  7Day_streams_change  total_streams  \
18                    NaN        132013               132013         132013
134                   NaN         54083                54083          54083
139                   NaN         53559                53559          53559
180                   NaN        311364                -4207       38031606
190                   NaN        294887                -1809       16104222
191                   NaN         46184                46184          46184
195                   NaN        193776                -2119       20132045
196                   NaN         94684                45542        1439196
197                   NaN        141647                45484       34958688
199                   NaN        294622                -5312       17413380

           DATE
18   2024-02-12
134  2024-02-12
139  2024-02-12
180  2024-02-12
190  2024-02-12
191  2024-02-12
195  2024-02-12
196  2024-02-12
197  2024-02-12
199  2024-02-12

/var/folders/px/x65fp4pn31s5cv4gsbh_3cl80000gn/T/ipykernel_27204/641918597.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  kworb_df['rank_change'] = kworb_df['rank_change'].str.replace('+', '').str.replace('=', '0', regex=False)

In [11]:
# Extract numeric values from 'COUNT_AT_PEAK'
kworb_df['days_at_peak'] = kworb_df['days_at_peak'].str.extract('(\d+)', expand=False)

# Convert to numeric, allowing NaNs to remain
kworb_df['days_at_peak'] = pd.to_numeric(kworb_df['days_at_peak'], errors='coerce')

In [12]:
columns_to_keep = kworb_df[['artist_title', 'rank_change', 'days_at_peak', 'daily_streams_change', '7Day_streams', '7Day_streams_change', 'total_streams']]
columns_to_keep.head(3)

,artist_title,rank_change,days_at_peak,daily_streams_change,7Day_streams,7Day_streams_change,total_streams
0,Noah Kahan - Stick Season,0,17.0,-20616.0,2296442,-31726,23307715
1,Benson Boone - Beautiful Things,0,5.0,4064.0,1967322,14134,4973123
2,Jack Harlow - Lovin On Me,0,72.0,-6462.0,1922511,-18769,30140450

In [13]:
print(f"Spotify Daily 200 columns:", df.columns.tolist())
print(f"Kworb Daily 200 columns:", kworb_df.columns.tolist())

Spotify Daily 200 columns: ['date', 'rank', 'artist_names', 'track_name', 'track_id', 'label', 'peak_rank', 'previous_rank', 'days_on_chart', 'daily_streams', 'popularity_score']
Kworb Daily 200 columns: ['rank', 'rank_change', 'artist_title', 'days_on_chart', 'peak_rank', 'days_at_peak', 'daily_streams', 'daily_streams_change', '7Day_streams', '7Day_streams_change', 'total_streams', 'DATE']

In [14]:
df['rank_change'] = kworb_df['rank_change']
df['days_at_peak'] = kworb_df['days_at_peak']
df['daily_streams_change'] = kworb_df['daily_streams_change']
df['7Day_streams'] = kworb_df['7Day_streams']
df['7Day_streams_change'] = kworb_df['7Day_streams_change']
df['total_streams'] = kworb_df['total_streams']

In [15]:
columns_order =  [
    'date',
    'artist_names',
    'track_name',
    'rank',
    'previous_rank',
    'rank_change',
    'peak_rank',
    'days_at_peak',
    'days_on_chart',
    'popularity_score',
    'daily_streams',
    'daily_streams_change',
    '7Day_streams',
    '7Day_streams_change',
    'total_streams',
    'label',
    'track_id',
]

df = df[columns_order]

In [16]:
df.head()

,date,artist_names,track_name,rank,previous_rank,rank_change,peak_rank,days_at_peak,days_on_chart,popularity_score,daily_streams,daily_streams_change,7Day_streams,7Day_streams_change,total_streams,label,track_id
0,12-02-2024,Noah Kahan,Stick Season,1,1,0,1,17.0,130,98,313497,-20616.0,2296442,-31726,23307715,Mercury Records/Republic Records,0mflMxspEfB0VbI1kyLiAv
1,12-02-2024,Benson Boone,Beautiful Things,2,2,0,2,5.0,25,96,290303,4064.0,1967322,14134,4973123,"Night Street Records, Inc./Warner Records Inc.",6tNQ70jh4OwmPGpYy6R2o9
2,12-02-2024,Jack Harlow,Lovin On Me,3,3,0,1,72.0,95,99,263515,-6462.0,1922511,-18769,30140450,Generation Now/Atlantic,4xhsWYTOGcal8zt0J161CU
3,12-02-2024,Taylor Swift,Cruel Summer,4,4,0,1,1.0,373,99,253007,-21929.0,1711304,17435,53136617,Taylor Swift,1BxfuPKGuaTgP7aM0Bbdwr
4,12-02-2024,"Kanye West, Ty Dolla $ign",CARNIVAL,5,5,0,5,NaN,2,82,228503,-16972.0,463928,223478,463928,YZY,4m4BHvDfzIgj5LbQLuFiIp

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  200 non-null    object
 1   artist_names          200 non-null    object
 2   track_name            200 non-null    object
 3   rank                  200 non-null    int64
 4   previous_rank         200 non-null    int64
 5   rank_change           200 non-null    object
 6   peak_rank             200 non-null    int64
 7   days_at_peak          43 non-null     float64
 8   days_on_chart         200 non-null    int64
 9   popularity_score      200 non-null    int64
 10  daily_streams         200 non-null    int64
 11  daily_streams_change  190 non-null    float64
 12  7Day_streams          200 non-null    int64
 13  7Day_streams_change   200 non-null    int64
 14  total_streams         200 non-null    int64
 15  label                 200 non-null    object
 16  track_id              200 non-null    object
dtypes: float64(2), int64(9), object(6)
memory usage: 26.7+ KB

In [18]:
yesterday_df = pd.read_csv('combined_data/combined.csv')
yesterday_df.tail()

,date,artist_names,track_name,rank,previous_rank,rank_change,peak_rank,days_at_peak,days_on_chart,popularity_score,daily_streams,daily_streams_change,7Day_streams,7Day_streams_change,total_streams,label,track_id
1395,11-02-2024,Hozier,Take Me to Church,196,-1,RE,66,45.0,1263,87,47671,NaN,305154,-2656,62714350,Columbia,3dYD57lRAUcMHufyqn9GcI
1396,11-02-2024,Taylor Swift,The Archer,197,-1,RE,7,NaN,56,83,47660,NaN,47660,47660,3534378,Taylor Swift,3pHkh7d0lzM2AldUtz2x37
1397,11-02-2024,Miguel,Sure Thing,198,-1,RE,11,NaN,488,90,47457,NaN,308200,-1924,32528394,Jive,0JXXNGljqupsJaZsgSbMZV
1398,11-02-2024,Journey,Don't Stop Believin' (2022 Remaster),199,156,-43,50,NaN,1779,86,47450,-3656.0,352209,-1519,2548423,Columbia/Legacy,5RKQ5NdjSh2QzD4MaunT91
1399,11-02-2024,"RAYE, 070 Shake",Escapism.,200,179,-21,3,2.0,413,86,47384,-1052.0,244049,959,36335191,Human Re Sources,5mHdCZtVyb4DcJw8799hZp

In [19]:
combined_df = pd.concat([yesterday_df, df], ignore_index=True)

In [20]:
print(len(combined_df))

1600

In [21]:
combined_df.to_csv('combined_data/combined.csv', index=False)